body {
  border-top: solid 2px #ef731a;
  color: #28374e;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
